<mat-card>
    <mat-card-title>Create New Account</mat-card-title>
    <mat-card-content>
<form [formGroup]="addAccountForm" (submit)="createAccount()"> 
<p>
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput placeholder="id" formControlName="id">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error>Id is required</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Inital Credit</mat-label>
      <input matInput placeholder="inital credit" formControlName="initialcredit">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error>Id is required</mat-error>
    </mat-form-field>
  </p>

  <p>
    <button mat-raised-button color="primary" [disabled]="!addAccountForm.valid">Create Account</button>
  </p>

</form>
</mat-card-content>
</mat-card>